node_modules/
.next/
.env
.env.local
.env*.local
.npm/
.nvm/
.bun/
.cache/
.local/
.slate/
.ssh/
.bash_history
.lesshst
.profile
.bashrc
.bash_logout
.sudo_as_admin_successful
.motd_shown
.update-notifier*
.config/
slate.json
*.log
npm-debug.log*
